
* {
  box-sizing: border-box;
  font-family: Raleway;
  color: rgb(160, 158, 158);
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  
}

.nav ul {
  margin: 5px;
}

.nav li {
  display: list-item;
}

.nav a {
  display: inline-block;
  padding: .9em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .3)
}

.main-header {
  background-image: url("Images/Nike-Adapt-BB.jpeg");
  background-color: rgba(0, 0, 0, .6);
  
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  
  font-weight: normal;
  color: white;
}

.band-name-large {
  font-size: 8em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: rgb(126, 78, 78);
  text-align: center;
  font-size: 2.5em;
}






.btn {
  text-align: center;
  
  padding: .67em .67em;
  cursor: pointer;
}







.btn-primary {
  color: white;
  background-color: #56CCF2;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #34454e;
}



.men  {
  background-color: rgba(54, 29, 29, 0.2);
  background-size: contain;
}
.women{
  background-color: rgba(219, 217, 91, 0.6);
}
.shop-item {
  margin: 40px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 15px;
}

.shop-item-price {
  
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bolder;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 20px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #7a4040;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #494558;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid rgb(7, 7, 7);
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 20px;
  margin-right: 40px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 2.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.35em;
}
.main-footer {
  background-color: rgba(0, 0, 0, .6);
  color: white;
  padding: .20em 0;
}