#contact{
    text-justify: auto;
    text-align: center;
    padding-bottom: 10px;
}
.social-icons{
    display: inline;
}
footer{
    text-align:center;
    margin-top: 5px;
    padding: 0px;
}
#footer{
    background-color:black;
    color:white;
}